body {
    background-image: linear-gradient(#9453A6, #f2f2f2, #f2cc0f, #f2f2f2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    background-image: linear-gradient(#9453A6, #f2cc0f);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

img {
    width: 4vw;
    padding: 0px;
    margin: 0;

}

li {
    width: 8em;
    font-size: 1.2em;
    text-align: center;
    border-radius: 15px;
    margin: 0.2em;
    padding: 8px;
    font-family: 'Pattaya';
    src: url(fonts/Pattaya-Regular.ttf);
    transition: all 2s;

}

li :hover {
    background-color: #9453a6;
    font-size: 1.3em;
    border: 2px solid #f2cc0f;
    border-radius: 15px;
}

h1 {
    width: 60vw;
    font-family: 'Pattaya';
    src: url(fonts/Pattaya-Regular.ttf);
    font-size: 3em;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

h3 {
    width: 75vw;
    font-family: 'Roboto-Light';
    src: url(fonts/Roboto-Light.ttf);
    font-size: 1.4em;
    padding: 20px;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
}

.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.acc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accordion-item {
    width: 60vw;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-image: linear-gradient(#9453A6, #f2cc0f);
}

.accordion-body p {
    width: 95%;
    font-size: 1.1rem;
    text-decoration: none;
    color: #0d0d0d;
    text-align: start;
    background-color: #f2cc0f;
    border: 2px solid #9453A6;
    border-radius: 15px;
    margin: 8px;
    padding: 8px;
    font-family: 'Roboto-Light';
    src: url(fonts/Roboto-Light.ttf);
    transition: all 1s;
}

.accordion-button {
    height: 2em;
    font-family: 'Pattaya';
    src: url(fonts/Pattaya-Regular.ttf);
    font-size: 0.4em;
    padding: 5px;
    text-align: start;
    background-color: #f2f2f2;
    border: 2px solid #9453A6;
    border-radius: 7px;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#9453A6, #f2cc0f);
    border-radius: 8px;
}

footer h6 {
    color: #9453A6;
    font-size: 10px;
}

footer svg {
    width: 40px;
    height: 40px;
    margin: 10px;
    padding: 10px, 10px;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
}



@media screen and (min-width: 320px) and (max-width: 950px) {
    img {
        width: 10vw;
        padding: 0px;
        margin: 0;
    }

    .accordion-item {
        width: 90vw;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        background-image: linear-gradient(#9453A6, #f2cc0f);
    }

    .accordion-button {
        height: 4em;
        font-family: 'Pattaya';
        src: url(fonts/Pattaya-Regular.ttf);
        font-size: 0.3em;
        padding: 5px;
        text-align: start;
        background-color: #f2f2f2;
        border: 2px solid #9453A6;
        border-radius: 7px;
    }

}